HTTP_PORT=8080
LDAP_PORT=8389
SCIM_TOKEN=
VALKEY_URL=valkey://falldap-valkey
BASE_DN=dc=falldap,dc=loc
PASSWORD_LIFE=15
PASSWORD_LENGTH=16
LOG_INVALID_LOGINS=1
LOG_ALL_LOGINS=
LOG_SEARCHES=
SESSION_SECRET=
ADMIN_GROUP=admin
FLASK_OIDC_SCOPES=openid email groups
FLASK_OIDC_CLIENT_SECRETS=./client_secrets.json
DEBUG=