a.btn,
summary,
button {
    border: solid var(--border-thickness) var(--front-color);
    background-color: var(--back-color);
    border-radius: var(--border-radius);
    color: var(--front-color);
    text-decoration: none;
    padding: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
}
