body {
    background-color: var(--back-color);
    color: var(--front-color);
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif;
}
html {
    --back-color: white;
    --front-color: black;
    --border-thickness: 2px;
}
@media (prefers-color-scheme: dark) {
    html {
        --back-color: black;
        --front-color: white;
    }
}
