.rp_canvas {
    font-size: 1em;
}
#bar {
    cursor: pointer;
}
.rp_text {
    color: var(--front-color);
}
#clicktocopytext {
    font-size: 0.8em;
    color: grey;
    display: block;
}
.otpcode {
    font-family: monospace;
}
