<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalLDAP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='otp.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='toastify.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}" />
    <script src="{{ url_for('static', filename='progress.js') }}"></script>
    <script src="{{ url_for('static', filename='clipboard.js') }}"></script>
    <script src="{{ url_for('static', filename='toastify.js') }}"></script>
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    <meta name="darkreader-lock">
</head>

<body>
    <span id="title">FalLDAP</span>
    <span>Hello, {{ username }}</span>
    <span>Enter this one-time password in your LDAP application:</span>
    <div hx-get="{{ url_for('otp.display') }}" hx-trigger="load, every {{ remaining_time }}s"></div>
    {% if is_admin %}
    <a class="btn" href="{{ url_for('admin.panel') }}">Admin panel</a>
    {% endif %}
    <a class="btn" href="{{ url_for('oidc_auth.logout') }}">Log out</a>
    <script src="{{ url_for('static', filename='otp.js') }}"></script>
</body>

</html>